<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Standard Format Post - Abstract</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="static/css/base.css">
   <link rel="stylesheet" href="static/css/vendor.css">  
   <link rel="stylesheet" href="static/css/main.css">
        

   <!-- script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>
	<script src="static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">

   		<div class="logo">
	         <a href="index.html">Author</a>
	      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li><a href="index.html" title="">Home</a></li>									
					<li class="has-children">
						<a href="category.html" title="">Categories</a>
						<ul class="sub-menu">
			            <li><a href="category.html">صحة</a></li>
			            <li><a href="category.html">تقنية</a></li>
			            <li><a href="category.html">مالية</a></li>
			         </ul>
					</li>
					<li class="has-children current">
						<a href="single-standard.html" title="">Blog</a>
						<ul class="sub-menu">
			            <li><a href="single-video.html">Video Post</a></li>
			            <li><a href="single-audio.html">Audio Post</a></li>
			            <li><a href="single-gallery.html">Gallery Post</a></li>
			            <li><a href="single-standard.html">Standard Post</a></li>
			         </ul>
					</li>
					<li><a href="style-guide.html" title="">Styles</a></li>
					<li><a href="about.html" title="">About</a></li>	
					<li><a href="contact.html" title="">Contact</a></li>										
				</ul>
			</nav> <!-- end main-nav-wrap -->

			<div class="search-wrap">
				
				<form role="search" method="get" class="search-form" action="#">
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> <!-- end search wrap -->	

			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->	
   		
   	</div>     		
   	
   </header> <!-- end header -->
   

   <!-- content
   ================================================== -->
   <section dir="rtl" id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">

   			<article class="format-standard">  

   				<div class="content-media">
						<div class="post-thumb">
							<img src="https://miro.medium.com/v2/resize:fit:720/0*CCV1gENPIfTT4cqL"> 
						</div>  
					</div>

					<div class="primary-content">

						<h1 class="page-title">كيف ستؤثر كارثة انهيار بنك سيليكون فالي على مستقبل الشؤون المالية</h1>	

						<ul class="entry-meta">
							<li class="date">September 06, 2016</li>						
							<li class="cat"><a href="">Wordpress</a><a href="">Design</a></li>				
						</ul>						

						<div id="readability-page-1" class="page">
							<div><figure></figure>
							<p id="d869">في حين يطمئن الحكومة المودعين بأن أموالهم آمنة، فإن الانهيار يسلط الضوء على بعض العيوب الأساسية في نظامنا المصرفي.</p>
							<p id="0a75">تستخدم البنوك الائتمان التي خلقتها إيداعات العملاء، ولا يتعين عليها الاحتفاظ سوى بنسبة صغيرة من هذه الأموال في البنك. وهذا يسمح لهم بالاستثمار في غالبية أموالنا وجني الأرباح منها. ومع ذلك، يوضح انهيار البنك في سيليكون فالي أن حساباتنا المصرفية قد لا تكون آمنة بقدر ما نعتقد، ويجب أن ننظر في خيارات بديلة. وعلى الرغم من ذلك، يعتبر النظام المصرفي الأمريكي آمنًا ويتمتع برأسمال كبير، طالما أننا نحتفظ جميعًا بالثقة في النظام. </p>
							<p id="5210">ومع ذلك، حدث شيء آخر زاد من مشكلة. مع بدء <a href="https://www.bbc.com/news/business-64934344" rel="noopener ugc nofollow" target="_blank">ارتفاع أسعار الفائدة</a>، 
							أصبح بعض عملاء بنك سيليكون فالي يشعرون بالقلق بشأن أمان ودائعهم وبدأوا في سحب أموالهم. وهذا أدى إلى مواجهة البنك لأزمة سيولة، مما يعني أنه لم يكن لديه ما يكفي من النقد لتلبية مطالب المودعين. في حالة ذعر، بدأ البنك في بيع أوbligations الحكومية الخاصة به لجمع النقدية، ولكن بسبب انخفاض قيمة هذه الأوراق بسبب زيادة أسعار الفائدة، انتهى الأمر بالبنك ببيعها بخسارة. وهذا أضعف موقف البنك المالي ودفع المزيد من المودعين لسحب أموالهم. كانت دورة مفرغة من الرد والإجابة، حتى ادت لانهيار بنك سيليكون فالي، وتسبب في تداعيات على صناعة المصارف والعالم التجاري الواسع.</p>
							<p id="eb6a">كان انهيار بنك سيليكون فالي نداء بالمنبه للصناعة بأكملها. وأظهر هشاشة النظام المصرفي الحديث والمخاطر المرتبطة بالاعتماد على مصادر تمويل قصيرة الأجل. كما أبرز الأهمية المتزايدة للشفافية والتواصل في حالات الأزمات. عملت محاولات البنك الأولية لتهدئة الأوضاع وطمأنة العملاء على إثارة الذعر والتسبب في حالة من الركض المصرفي. إذا كان المسؤولون قد كانوا أكثر صراحة بشأن التحديات التي يواجهونها والخطوات التي يتخذونها لمعالجتها، فقد كان بإمكانهم تجنب أسوأ سيناريو. كان انهيار بنك سيليكون فالي درسًا مؤلمًا للجميع، ولكنه أيضًا يذكر
							 بالدور الحاسم الذي يلعبه البنك في الاقتصاد وضرورة إدارة المخاطر بشكل فعال والتخطيط للأزمات.</p>
							<p id="03ad">لقد أعاد انهيار البنك الصغير الأخير والتدخل السريع للحكومة في ضمان سلامة أموال جميع العملاء إشعال الجدل حول ما إذا كان يجب السماح للبنوك بالفشل أو لا. على الرغم من أن إنقاذ البنوك الحائرة قد يمنع الذعر والفوضى في المدى القصير، فإنه أيضًا يعرض لمخاطر المغامرة غير المسؤولة وعدم وجود عواقب لسوء الإدارة. بالإضافة إلى ذلك، يزيد المناخ الاقتصادي ا
							لحالي، مع ارتفاع التضخم والتنافس المتزايد، من القلق الذي يشعر به الناس. ومن المرجح أن يظهر ما إذا كان التدخل الحكومي سيهدئ الجمهور بنجاح ويمنع المزيد من عمليات الركض المصرفي والفشل، أو ما إذا كان سيؤجل ما هو لا مفر منه فقط. وفي النهاية، من المهم تذكر أن نظامنا المالي الحديث هو منشأ إنساني يعتمد على الثقة والتعاون المشترك وأن أي فشل في هذا النظام يمكن أن 
							يكون له عواقب واسعة النطاق. وبينما نتحرك إلى الأمام، سيكون من الأساسي الاستمرار في النقاشات المفتوحة والصادقة حول أفضل الطرق لتنظيم ودعم مؤسساتنا المالية.</p>
							</div></div>
						



				</article>
   		

			</div> <!-- end col-twelve -->
   	</div> <!-- end row -->

