<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Standard Format Post - Abstract</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="static/css/base.css">
   <link rel="stylesheet" href="static/css/vendor.css">  
   <link rel="stylesheet" href="static/css/main.css">
        

   <!-- script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>
	<script src="static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top" dir="rtl" lang="ar">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

	<div class="gradient-block"></div>	

	<div class="row header-content">

		<div class="logo">
		  <a href="index.html">Author</a>
	   </div>

		<nav id="main-nav-wrap">
			 <ul class="main-navigation sf-menu">
				 <li class="current"><a href="index.html" title="">الرئيسية</a></li>									
				 <li class="has-children">
					 <a href="category.html" title="">الأقسام</a>
					 <ul class="sub-menu">
					 <li><a href="category.html">صحة</a></li>
					 <li><a href="category.html">مالية</a></li>
					 <li><a href="category.html">تقنية</a></li>
					 
				  </ul>
				 </li>
				 <!-- <li class="has-children">
					 <a href="single-standard.html" title="">	</a>
					 <ul class="sub-menu">
					 <li><a href="single-video.html">Video Post</a></li>
					 <li><a href="single-audio.html">Audio Post</a></li>
					 <li><a href="single-gallery.html">Gallery Post</a></li>
					 <li><a href="single-standard.html">Standard Post</a></li>
				  </ul>
				 </li> -->
				 <!-- <li><a href="style-guide.html" title="">Styles</a></li> -->
				 <!-- <li><a href="about.html" title="">مخصص</a></li>	 -->
				 <li><a href="send" title="">مخصص</a></li>										
			 </ul>
		 </nav> <!-- end main-nav-wrap -->

		 <div class="search-wrap">
			 
			 <form role="search" method="get" class="search-form" action="#">
				 <label>
					 <span class="hide-content">Search for:</span>
					 <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
				 </label>
				 <input type="submit" class="search-submit" value="Search">
			 </form>

			 <a href="#" id="close-search" class="close-btn">Close</a>

		 </div> <!-- end search wrap -->	

		 <div class="triggers">
			 <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
			 <a class="menu-toggle" href="#"><span>Menu</span></a>
		 </div> <!-- end triggers -->	
		
	</div>     		
	
</header> <!-- end header -->
   

   <!-- content
   ================================================== -->
   <section id="content-wrap" class="blog-single">
	<div class="row">
		<div class="col-twelve">

			<article class="format-standard">  

				<div class="content-media">
					 <div class="post-thumb">
					 </div>  
				 </div>

				 <div class="primary-content">

					 <h1 class="page-title">تفضل تمت ترجمة موضوعك بوساطة ChatGPT.</h1>	

					<ul class="entry-meta">
						<li class="date">September 06, 2016</li>						
						<li class="cat"><a href="">Wordpress</a><a href="">Design</a></li>				
					</ul>

					 <p class="lead">{{message}}</p> 



				 </div> <!-- end entry-primary -->		  			   

				  <div class="pagenav group">
					  <div class="prev-nav">
						  <a href="#" rel="prev">
							  <span>Previous</span>
							  Tips on Minimalist Design 
						  </a>
					  </div>
					   <div class="next-nav">
						   <a href="#" rel="next">
							   <span>Next</span>
							  Less Is More 
						   </a>
					   </div>  				   
				   </div>

			 </article>
		

		 </div> <!-- end col-twelve -->
   	</div> <!-- end row -->

